/* variables */
:root {
	--primary-clr: #428bca;
	--secondary-clr: #5cb85c;
}

/* basic resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	line-height: 1.6;
	font-family: sans-serif;
}

/* utility classes */
.col-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}

/* container */
.container {
	max-width: 700px;
	margin: auto;
}

.form-wrapper {
	padding: 1em;
	width: 100%;
}

.form-wrapper h1 {
	text-align: center;
	/* padding-bottom: 0.4em; */
}

.form-group {
	padding-bottom: 1em;
}

.form-group {
	padding-bottom: 1em;
}

.form-group .form-input {
	width: 100%;
	padding: 0.5em 0.7em;
	border-radius: 5px;
	border: 1px solid grey;
	outline: none;
	font-size: 1em;
}

.form-group .form-input:focus,
.form-group .form-input:active {
	box-shadow: 0 0 5px 0px var(--primary-clr);
}

.agreement {
	display: flex;
	padding-bottom: 0.2em;
}

.agreement .form-group {
	flex: 1;
	padding: 0;
}

.agreement .form-group label {
	font-size: 0.9em;
	font-weight: bold;
}

.agreement p {
	flex: 8;
	font-size: 0.8em;
	word-wrap: break-word;
}

.agreement .terms {
	color: var(--primary-clr);
}

.form-btns {
	gap: 0.5em;
}

.btn {
	padding: 0.5em 0.7em;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	border: none;
	font-size: 1em;
	cursor: pointer;
}

.btn-register {
	background: var(--primary-clr);
}

.btn-sign-in {
	background: var(--secondary-clr);
}

/* btn-register-reference */
.btn-register-ref {
	padding: 0.2em 0.4em;
}

@media screen and (max-width: 768px) {
	.col-2 {
		grid-template-columns: 1fr;
		gap: 0;
	}

	.form-btns.col-2 {
		gap: 0.5em;
	}

	.agreement p {
		flex: 4;
	}
}

@media screen and (max-width: 380px) {
	.agreement p {
		flex: 3;
	}
}
